body {
    padding: 0;
    margin: 0;
}

html,
body,
#map {
    height: 100%;
    width: 100%;
}

.location-icon {
    width: 3rem;
    height: 3rem;
    background-color: blue;
}

@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

#spinner::before {
    animation: 1.5s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 5px #cfd0d1;
    border-bottom-color: #1c87c9;
    border-radius: 50%;
    content: "";
    height: 6rem;
    width: 6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    will-change: transform;
}

div#list {
    padding: 2vh 10vw;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-flow: row;
}

img.icon {
    width: 100%;
}

div.item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

div.item:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

div.container {
    padding: 2px 16px;
}

a {
    text-decoration: none;
    color: #111111;
}

p.link {
    color: gray;
    float: right;
}

a.link {
    display: flex;
    flex-direction: column;
    height: 95%;
    padding: 5%;
}

p.link {
    margin-left: auto;
    margin-top: auto;
}
